set_io   clk               21
set_io   hsync             37
set_io   vsync             39
set_io   rgb[2]            38
set_io   rgb[1]            41
set_io   rgb[0]            43
set_io   sw1               10
set_io   sw2               11

# ------------------------- FPGA Direct 3v3 GPIO ------------------------------
#
#        -----------------
#       | GP1 GP3 GP5 GP7 |
#      >| GP0 GP2 GP4 GP6 |
#        -----------------
#
#set_io --warn-no-port GP0  37
#set_io --warn-no-port GP1  38
#set_io --warn-no-port GP2  39
#set_io --warn-no-port GP3  41
#set_io --warn-no-port GP4  42
#set_io --warn-no-port GP5  43
#set_io --warn-no-port GP6  49
#set_io --warn-no-port GP7  50

# Debug LEDs.
set_io   leds[0]           95
set_io   leds[1]           96
set_io   leds[2]           97
set_io   leds[3]           98
set_io   leds[4]           99
set_io   leds[5]           101
set_io   leds[6]           102
set_io   leds[7]           104

# --- FTDI 1: (Serial port)
# set_io --warn-no-port DCD 1
# set_io --warn-no-port DSR 2
# set_io --warn-no-port DTR 3
# set_io --warn-no-port CTS 4
# set_io --warn-no-port RTS 7
set_io --warn-no-port TX  8
set_io --warn-no-port RX  9
